#!/usr/bin/env python

PACKAGE = "my_planner"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("pre_n", int_t, 0, "Number of pre-check waypoints", 15, 0, 500)
gen.add("trans_x_factor", double_t, 0, "Ratio of translational x control", 1.5, 0.0, 50)
gen.add("trans_y_factor", double_t, 0, "Ratio of translational y control", 1.5, 0.0, 50)
gen.add("trans_factor", double_t, 0, "Ratio of translational control", 1.0, 0.0, 50)
gen.add("adjust_r_factor", double_t, 0, "Ratio of rotational adjustment control", 1.0, 0.0, 10)
gen.add("Kp", double_t, 0, "Proportional gain for translational velocity", 2.0, 0.0, 100)
gen.add("Ki", double_t, 0, "Integral gain for translational velocity", 0.01, 0.0, 100)
gen.add("Kd", double_t, 0, "Derivative gain for translational velocity", 3.0, 0.0, 100)
gen.add("max_vel_trans", double_t, 0, "Maximum translational velocity", 1.0, 0.0, 10)
gen.add("max_vel_rot", double_t, 0, "Maximum rotational velocity", 0.9, 0.0, 10)
gen.add("acc_scale_trans", double_t, 0, "Acceleration scale for translational velocity", 1.5, 0.0, 30)
gen.add("acc_scale_rot", double_t, 0, "Acceleration scale for rotational velocity", 0.5, 0.0, 20)
gen.add("target_dist", double_t, 0, "Distance to target pose", 0.2, 0.0, 20.0)
gen.add("goal_dist_tolerance", double_t, 0, "Distance tolerance to goal", 0.1, 0.0, 2)
gen.add("goal_yaw_tolerance", double_t, 0, "Yaw tolerance to goal", 0.05, 0.0, 2)
gen.add("debug_print", bool_t, 0, "Enable debug logs on terminal", False)
gen.add("restore_defaults", bool_t, 0, "Restore default parameters", False)

exit(gen.generate(PACKAGE, "dynamic_reconfigure", "MyPlanner"))
