<?xml version='1.0' encoding='utf-8'?>
<launch>
  <arg name="agent_number" default="0" />
  <arg name="namespace_prefix" default="robot" />
  <arg name="use_fm2_gather" default="false" />
  <arg name="enable_map_combine" default="true" />
  <arg name="publish_center_goal_only" default="false" />
  <arg name="gather_center_topic" default="/gather_center" />
  <arg name="fm2_auto_detect_robots" default="true" />
  <arg name="fm2_robot_detect_topic_suffix" default="/odom" />
  <arg name="fm2_robot_detect_timeout" default="20.0" />
  <arg name="replan_mode" default="event" />
  <arg name="periodic_interval" default="5.0" />
  <arg name="cooldown" default="2.0" />
  <arg name="per_robot_cooldown" default="1.5" />
  <arg name="max_len_growth_ratio" default="1.2" />
  <arg name="long_path_replan_min_length" default="2.0" />
  <arg name="format_radius" default="0.3" />
  <arg name="enable_stable_len_replan" default="false" />
  <arg name="use_goal_occupied_peer_fallback" default="true" />
  <arg name="goal_occupied_radius" default="0.35" />
  <arg name="distributed_mode" default="false" />

  <arg name="enabled" default="USE_YAML_SENTINEL" />
  <arg name="auto_detect" default="USE_YAML_SENTINEL" />
  <arg name="shape_source" default="USE_YAML_SENTINEL" />
  <arg name="shape_type" default="USE_YAML_SENTINEL" />
  <arg name="shape_resolution" default="USE_YAML_SENTINEL" />
  <arg name="ring_inner_ratio" default="USE_YAML_SENTINEL" />
  <arg name="ring_outer_ratio" default="USE_YAML_SENTINEL" />
  <arg name="gray_width" default="USE_YAML_SENTINEL" />
  <arg name="shape_mat_path" default="USE_YAML_SENTINEL" />
  <arg name="shape_library_root" default="USE_YAML_SENTINEL" />
  <arg name="reference_center_topic" default="USE_YAML_SENTINEL" />
  <arg name="reference_center_wait" default="USE_YAML_SENTINEL" />
  <arg name="reference_center_use_topic_heading" default="USE_YAML_SENTINEL" />
  <arg name="control_strategy" default="USE_YAML_SENTINEL" />
  <arg name="shape_target_mode" default="USE_YAML_SENTINEL" />
  <arg name="shape_marker_mode" default="USE_YAML_SENTINEL" />
  <arg name="control_hz" default="USE_YAML_SENTINEL" />
  <arg name="control_dt" default="USE_YAML_SENTINEL" />
  <arg name="sim_dt" default="USE_YAML_SENTINEL" />
  <arg name="vel_max" default="USE_YAML_SENTINEL" />
  <arg name="leader_fraction" default="USE_YAML_SENTINEL" />
  <arg name="kappa_enter" default="USE_YAML_SENTINEL" />
  <arg name="kappa_explore_1" default="USE_YAML_SENTINEL" />
  <arg name="kappa_explore_2" default="USE_YAML_SENTINEL" />
  <arg name="kappa_avoid" default="USE_YAML_SENTINEL" />
  <arg name="kappa_hard_avoid" default="USE_YAML_SENTINEL" />
  <arg name="kappa_consensus" default="USE_YAML_SENTINEL" />
  <arg name="kappa_conse_pos" default="USE_YAML_SENTINEL" />
  <arg name="kappa_track_pos" default="USE_YAML_SENTINEL" />
  <arg name="kappa_conse_head" default="USE_YAML_SENTINEL" />
  <arg name="kappa_track_head" default="USE_YAML_SENTINEL" />
  <arg name="alpha" default="USE_YAML_SENTINEL" />
  <arg name="hvel_max" default="USE_YAML_SENTINEL" />
  <arg name="cmd_smooth_ratio" default="USE_YAML_SENTINEL" />
  <arg name="cmd_scale" default="USE_YAML_SENTINEL" />
  <arg name="shape_vel_max" default="USE_YAML_SENTINEL" />
  <arg name="switch_gray_threshold" default="USE_YAML_SENTINEL" />
  <arg name="cancel_move_base_on_switch" default="USE_YAML_SENTINEL" />
  <arg name="switch_use_reference_shape" default="USE_YAML_SENTINEL" />
  <arg name="switch_reference_radius_enable" default="USE_YAML_SENTINEL" />
  <arg name="switch_reference_radius_margin" default="USE_YAML_SENTINEL" />
  <arg name="switch_reference_radius_min" default="USE_YAML_SENTINEL" />
  <arg name="use_local_costmap_avoid" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_topic_suffix" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_obstacle_threshold" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_unknown_is_obstacle" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_avoid_radius" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_avoid_gain" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_hard_radius" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_hard_gain" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_stride" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_max_samples" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_timeout" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_self_ignore_radius" default="USE_YAML_SENTINEL" />
  <arg name="local_costmap_skip_on_frame_mismatch" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_map_topic" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_angle_step_deg" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_update_interval" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_obstacle_threshold" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_unknown_is_obstacle" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_shape_stride" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_min_improve" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_yaw_bias" default="USE_YAML_SENTINEL" />
  <arg name="auto_shape_heading_oob_is_obstacle" default="USE_YAML_SENTINEL" />
  <arg name="publish_markers" default="USE_YAML_SENTINEL" />
  <arg name="debug_log" default="USE_YAML_SENTINEL" />
  <arg name="distributed_marker_owner" default="USE_YAML_SENTINEL" />

  <include file="$(find sim_env)/launch/main_simtest.launch" />

  <group if="$(arg use_fm2_gather)">
    <include file="$(find fm2_gather)/launch/laun_simtest.launch">
      <arg name="enable_map_combine" value="$(arg enable_map_combine)" />
      <arg name="publish_center_goal_only" value="$(arg publish_center_goal_only)" />
      <arg name="gather_center_topic" value="$(arg gather_center_topic)" />
      <arg name="auto_detect_robots" value="$(arg fm2_auto_detect_robots)" />
      <arg name="robot_namespace_prefix" value="$(arg namespace_prefix)" />
      <arg name="robot_detect_topic_suffix" value="$(arg fm2_robot_detect_topic_suffix)" />
      <arg name="robot_detect_timeout" value="$(arg fm2_robot_detect_timeout)" />
      <arg name="num_robots" value="$(arg agent_number)" />
      <arg name="replan_mode" value="$(arg replan_mode)" />
      <arg name="periodic_interval" value="$(arg periodic_interval)" />
      <arg name="cooldown" value="$(arg cooldown)" />
      <arg name="per_robot_cooldown" value="$(arg per_robot_cooldown)" />
      <arg name="max_len_growth_ratio" value="$(arg max_len_growth_ratio)" />
      <arg name="long_path_replan_min_length" value="$(arg long_path_replan_min_length)" />
      <arg name="format_radius" value="$(arg format_radius)" />
      <arg name="enable_stable_len_replan" value="$(arg enable_stable_len_replan)" />
      <arg name="use_goal_occupied_peer_fallback" value="$(arg use_goal_occupied_peer_fallback)" />
      <arg name="goal_occupied_radius" value="$(arg goal_occupied_radius)" />
    </include>
  </group>

  <group unless="$(arg distributed_mode)">
    <include file="$(find sim_env)/launch/app/shape_assembly_simtest.launch.xml">
      <arg name="agent_number" value="$(arg agent_number)" />
      <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
      <arg name="distributed_mode" value="false" />
      <arg name="distributed_marker_owner" value="$(arg distributed_marker_owner)" />

      <arg name="enabled" value="$(arg enabled)" />
      <arg name="auto_detect" value="$(arg auto_detect)" />
      <arg name="shape_source" value="$(arg shape_source)" />
      <arg name="shape_type" value="$(arg shape_type)" />
      <arg name="shape_resolution" value="$(arg shape_resolution)" />
      <arg name="ring_inner_ratio" value="$(arg ring_inner_ratio)" />
      <arg name="ring_outer_ratio" value="$(arg ring_outer_ratio)" />
      <arg name="gray_width" value="$(arg gray_width)" />
      <arg name="shape_mat_path" value="$(arg shape_mat_path)" />
      <arg name="shape_library_root" value="$(arg shape_library_root)" />
      <arg name="reference_center_topic" value="$(arg reference_center_topic)" />
      <arg name="reference_center_wait" value="$(arg reference_center_wait)" />
      <arg name="reference_center_use_topic_heading" value="$(arg reference_center_use_topic_heading)" />
      <arg name="control_strategy" value="$(arg control_strategy)" />
      <arg name="shape_target_mode" value="$(arg shape_target_mode)" />
      <arg name="shape_marker_mode" value="$(arg shape_marker_mode)" />
      <arg name="control_hz" value="$(arg control_hz)" />
      <arg name="control_dt" value="$(arg control_dt)" />
      <arg name="sim_dt" value="$(arg sim_dt)" />
      <arg name="vel_max" value="$(arg vel_max)" />
      <arg name="leader_fraction" value="$(arg leader_fraction)" />
      <arg name="kappa_enter" value="$(arg kappa_enter)" />
      <arg name="kappa_explore_1" value="$(arg kappa_explore_1)" />
      <arg name="kappa_explore_2" value="$(arg kappa_explore_2)" />
      <arg name="kappa_avoid" value="$(arg kappa_avoid)" />
      <arg name="kappa_hard_avoid" value="$(arg kappa_hard_avoid)" />
      <arg name="kappa_consensus" value="$(arg kappa_consensus)" />
      <arg name="kappa_conse_pos" value="$(arg kappa_conse_pos)" />
      <arg name="kappa_track_pos" value="$(arg kappa_track_pos)" />
      <arg name="kappa_conse_head" value="$(arg kappa_conse_head)" />
      <arg name="kappa_track_head" value="$(arg kappa_track_head)" />
      <arg name="alpha" value="$(arg alpha)" />
      <arg name="hvel_max" value="$(arg hvel_max)" />
      <arg name="cmd_smooth_ratio" value="$(arg cmd_smooth_ratio)" />
      <arg name="cmd_scale" value="$(arg cmd_scale)" />
      <arg name="shape_vel_max" value="$(arg shape_vel_max)" />
      <arg name="switch_gray_threshold" value="$(arg switch_gray_threshold)" />
      <arg name="cancel_move_base_on_switch" value="$(arg cancel_move_base_on_switch)" />
      <arg name="switch_use_reference_shape" value="$(arg switch_use_reference_shape)" />
      <arg name="switch_reference_radius_enable" value="$(arg switch_reference_radius_enable)" />
      <arg name="switch_reference_radius_margin" value="$(arg switch_reference_radius_margin)" />
      <arg name="switch_reference_radius_min" value="$(arg switch_reference_radius_min)" />
      <arg name="use_local_costmap_avoid" value="$(arg use_local_costmap_avoid)" />
      <arg name="local_costmap_topic_suffix" value="$(arg local_costmap_topic_suffix)" />
      <arg name="local_costmap_obstacle_threshold" value="$(arg local_costmap_obstacle_threshold)" />
      <arg name="local_costmap_unknown_is_obstacle" value="$(arg local_costmap_unknown_is_obstacle)" />
      <arg name="local_costmap_avoid_radius" value="$(arg local_costmap_avoid_radius)" />
      <arg name="local_costmap_avoid_gain" value="$(arg local_costmap_avoid_gain)" />
      <arg name="local_costmap_hard_radius" value="$(arg local_costmap_hard_radius)" />
      <arg name="local_costmap_hard_gain" value="$(arg local_costmap_hard_gain)" />
      <arg name="local_costmap_stride" value="$(arg local_costmap_stride)" />
      <arg name="local_costmap_max_samples" value="$(arg local_costmap_max_samples)" />
      <arg name="local_costmap_timeout" value="$(arg local_costmap_timeout)" />
      <arg name="local_costmap_self_ignore_radius" value="$(arg local_costmap_self_ignore_radius)" />
      <arg name="local_costmap_skip_on_frame_mismatch" value="$(arg local_costmap_skip_on_frame_mismatch)" />
      <arg name="auto_shape_heading" value="$(arg auto_shape_heading)" />
      <arg name="auto_shape_heading_map_topic" value="$(arg auto_shape_heading_map_topic)" />
      <arg name="auto_shape_heading_angle_step_deg" value="$(arg auto_shape_heading_angle_step_deg)" />
      <arg name="auto_shape_heading_update_interval" value="$(arg auto_shape_heading_update_interval)" />
      <arg name="auto_shape_heading_obstacle_threshold" value="$(arg auto_shape_heading_obstacle_threshold)" />
      <arg name="auto_shape_heading_unknown_is_obstacle" value="$(arg auto_shape_heading_unknown_is_obstacle)" />
      <arg name="auto_shape_heading_shape_stride" value="$(arg auto_shape_heading_shape_stride)" />
      <arg name="auto_shape_heading_min_improve" value="$(arg auto_shape_heading_min_improve)" />
      <arg name="auto_shape_heading_yaw_bias" value="$(arg auto_shape_heading_yaw_bias)" />
      <arg name="auto_shape_heading_oob_is_obstacle" value="$(arg auto_shape_heading_oob_is_obstacle)" />
      <arg name="publish_markers" value="$(arg publish_markers)" />
      <arg name="debug_log" value="$(arg debug_log)" />
    </include>
  </group>

  <group if="$(arg distributed_mode)">
    <include file="$(find sim_env)/launch/app/shape_assembly_distributed.launch.xml">
      <arg name="agent_number" value="$(arg agent_number)" />
      <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
      <arg name="distributed_marker_owner" value="$(arg distributed_marker_owner)" />
      <arg name="enabled" value="$(arg enabled)" />
      <arg name="auto_detect" value="$(arg auto_detect)" />
      <arg name="shape_source" value="$(arg shape_source)" />
      <arg name="shape_type" value="$(arg shape_type)" />
      <arg name="shape_resolution" value="$(arg shape_resolution)" />
      <arg name="ring_inner_ratio" value="$(arg ring_inner_ratio)" />
      <arg name="ring_outer_ratio" value="$(arg ring_outer_ratio)" />
      <arg name="gray_width" value="$(arg gray_width)" />
      <arg name="shape_mat_path" value="$(arg shape_mat_path)" />
      <arg name="shape_library_root" value="$(arg shape_library_root)" />
      <arg name="reference_center_topic" value="$(arg reference_center_topic)" />
      <arg name="reference_center_wait" value="$(arg reference_center_wait)" />
      <arg name="reference_center_use_topic_heading" value="$(arg reference_center_use_topic_heading)" />
      <arg name="control_strategy" value="$(arg control_strategy)" />
      <arg name="shape_target_mode" value="$(arg shape_target_mode)" />
      <arg name="shape_marker_mode" value="$(arg shape_marker_mode)" />
      <arg name="control_hz" value="$(arg control_hz)" />
      <arg name="control_dt" value="$(arg control_dt)" />
      <arg name="sim_dt" value="$(arg sim_dt)" />
      <arg name="vel_max" value="$(arg vel_max)" />
      <arg name="leader_fraction" value="$(arg leader_fraction)" />
      <arg name="kappa_enter" value="$(arg kappa_enter)" />
      <arg name="kappa_explore_1" value="$(arg kappa_explore_1)" />
      <arg name="kappa_explore_2" value="$(arg kappa_explore_2)" />
      <arg name="kappa_avoid" value="$(arg kappa_avoid)" />
      <arg name="kappa_hard_avoid" value="$(arg kappa_hard_avoid)" />
      <arg name="kappa_consensus" value="$(arg kappa_consensus)" />
      <arg name="kappa_conse_pos" value="$(arg kappa_conse_pos)" />
      <arg name="kappa_track_pos" value="$(arg kappa_track_pos)" />
      <arg name="kappa_conse_head" value="$(arg kappa_conse_head)" />
      <arg name="kappa_track_head" value="$(arg kappa_track_head)" />
      <arg name="alpha" value="$(arg alpha)" />
      <arg name="hvel_max" value="$(arg hvel_max)" />
      <arg name="cmd_smooth_ratio" value="$(arg cmd_smooth_ratio)" />
      <arg name="cmd_scale" value="$(arg cmd_scale)" />
      <arg name="shape_vel_max" value="$(arg shape_vel_max)" />
      <arg name="switch_gray_threshold" value="$(arg switch_gray_threshold)" />
      <arg name="cancel_move_base_on_switch" value="$(arg cancel_move_base_on_switch)" />
      <arg name="switch_use_reference_shape" value="$(arg switch_use_reference_shape)" />
      <arg name="switch_reference_radius_enable" value="$(arg switch_reference_radius_enable)" />
      <arg name="switch_reference_radius_margin" value="$(arg switch_reference_radius_margin)" />
      <arg name="switch_reference_radius_min" value="$(arg switch_reference_radius_min)" />
      <arg name="use_local_costmap_avoid" value="$(arg use_local_costmap_avoid)" />
      <arg name="local_costmap_topic_suffix" value="$(arg local_costmap_topic_suffix)" />
      <arg name="local_costmap_obstacle_threshold" value="$(arg local_costmap_obstacle_threshold)" />
      <arg name="local_costmap_unknown_is_obstacle" value="$(arg local_costmap_unknown_is_obstacle)" />
      <arg name="local_costmap_avoid_radius" value="$(arg local_costmap_avoid_radius)" />
      <arg name="local_costmap_avoid_gain" value="$(arg local_costmap_avoid_gain)" />
      <arg name="local_costmap_hard_radius" value="$(arg local_costmap_hard_radius)" />
      <arg name="local_costmap_hard_gain" value="$(arg local_costmap_hard_gain)" />
      <arg name="local_costmap_stride" value="$(arg local_costmap_stride)" />
      <arg name="local_costmap_max_samples" value="$(arg local_costmap_max_samples)" />
      <arg name="local_costmap_timeout" value="$(arg local_costmap_timeout)" />
      <arg name="local_costmap_self_ignore_radius" value="$(arg local_costmap_self_ignore_radius)" />
      <arg name="local_costmap_skip_on_frame_mismatch" value="$(arg local_costmap_skip_on_frame_mismatch)" />
      <arg name="auto_shape_heading" value="$(arg auto_shape_heading)" />
      <arg name="auto_shape_heading_map_topic" value="$(arg auto_shape_heading_map_topic)" />
      <arg name="auto_shape_heading_angle_step_deg" value="$(arg auto_shape_heading_angle_step_deg)" />
      <arg name="auto_shape_heading_update_interval" value="$(arg auto_shape_heading_update_interval)" />
      <arg name="auto_shape_heading_obstacle_threshold" value="$(arg auto_shape_heading_obstacle_threshold)" />
      <arg name="auto_shape_heading_unknown_is_obstacle" value="$(arg auto_shape_heading_unknown_is_obstacle)" />
      <arg name="auto_shape_heading_shape_stride" value="$(arg auto_shape_heading_shape_stride)" />
      <arg name="auto_shape_heading_min_improve" value="$(arg auto_shape_heading_min_improve)" />
      <arg name="auto_shape_heading_yaw_bias" value="$(arg auto_shape_heading_yaw_bias)" />
      <arg name="auto_shape_heading_oob_is_obstacle" value="$(arg auto_shape_heading_oob_is_obstacle)" />
      <arg name="publish_markers" value="$(arg publish_markers)" />
      <arg name="debug_log" value="$(arg debug_log)" />
    </include>
  </group>
</launch>
