#!/usr/bin/env python

PACKAGE = "sim_env"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Enable shape assembly control output", True)

gen.add("vel_max", double_t, 0, "Max linear speed for main controller", 0.7, 0.0, 3.0)
gen.add("shape_vel_max", double_t, 0, "Max linear speed in shape stage", 1.0, 0.0, 4.0)
gen.add("hvel_max", double_t, 0, "Max angular speed", 1.57079632679, 0.0, 10.0)
gen.add("leader_fraction", double_t, 0, "Fraction of informed leaders", 1.0, 0.0, 1.0)

gen.add("kappa_enter", double_t, 0, "Enter gain", 4.0, 0.0, 100.0)
gen.add("kappa_explore_1", double_t, 0, "Explore gain 1", 1.0, 0.0, 100.0)
gen.add("kappa_explore_2", double_t, 0, "Explore gain 2", 12.0, 0.0, 100.0)
gen.add("kappa_avoid", double_t, 0, "Soft avoid gain", 18.0, 0.0, 200.0)
gen.add("kappa_hard_avoid", double_t, 0, "Hard avoid gain", 35.0, 0.0, 300.0)
gen.add("kappa_consensus", double_t, 0, "Consensus gain", 1.2, 0.0, 20.0)
gen.add("kappa_conse_pos", double_t, 0, "Position consensus gain", 1.6, 0.0, 50.0)
gen.add("kappa_track_pos", double_t, 0, "Position tracking gain", 3.0, 0.0, 50.0)
gen.add("kappa_conse_head", double_t, 0, "Heading consensus gain", 1.6, 0.0, 50.0)
gen.add("kappa_track_head", double_t, 0, "Heading tracking gain", 3.0, 0.0, 50.0)
gen.add("alpha", double_t, 0, "Negotiation alpha", 0.8, 0.0, 1.0)

gen.add("cmd_smooth_ratio", double_t, 0, "Command smoothing ratio", 0.32, 0.0, 1.0)
gen.add("cmd_scale", double_t, 0, "Command output scale", 1.0, 0.0, 5.0)
gen.add("velocity_scale", double_t, 0, "Marker velocity display scale", 1.0, 0.0, 5.0)
gen.add("switch_gray_threshold", double_t, 0, "Switch threshold to shape control", 0.999, 0.0, 1.0)
gen.add("switch_reference_radius_enable", bool_t, 0, "Allow switching to shape control near reference center", True)
gen.add("switch_reference_radius_margin", double_t, 0, "Extra margin added to reference-shape switch radius", 0.25, 0.0, 5.0)
gen.add("switch_reference_radius_min", double_t, 0, "Minimum reference-shape switch radius", 0.0, 0.0, 10.0)

gen.add("local_costmap_obstacle_threshold", int_t, 0, "Costmap obstacle threshold", 80, 0, 100)
gen.add("local_costmap_avoid_radius", double_t, 0, "Local costmap soft avoid radius", 0.30, 0.0, 3.0)
gen.add("local_costmap_avoid_gain", double_t, 0, "Local costmap soft avoid gain", 8.0, 0.0, 200.0)
gen.add("local_costmap_hard_radius", double_t, 0, "Local costmap hard avoid radius", 0.25, 0.0, 3.0)
gen.add("local_costmap_hard_gain", double_t, 0, "Local costmap hard avoid gain", 15.0, 0.0, 300.0)
gen.add("local_costmap_stride", int_t, 0, "Local costmap sampling stride", 1, 1, 8)
gen.add("local_costmap_max_samples", int_t, 0, "Local costmap max samples", 500, 1, 5000)
gen.add("local_costmap_timeout", double_t, 0, "Local costmap stale timeout", 1.0, 0.0, 10.0)
gen.add("local_costmap_self_ignore_radius", double_t, 0, "Ignore occupied cells near self", 0.20, 0.0, 2.0)

gen.add("auto_shape_heading_angle_step_deg", double_t, 0, "Auto heading angle step (deg)", 15.0, 1.0, 90.0)
gen.add("auto_shape_heading_update_interval", double_t, 0, "Auto heading update interval", 0.5, 0.05, 5.0)
gen.add("auto_shape_heading_obstacle_threshold", int_t, 0, "Auto heading obstacle threshold", 80, 0, 100)
gen.add("auto_shape_heading_min_improve", double_t, 0, "Auto heading minimum improvement", 0.01, 0.0, 1.0)
gen.add("auto_shape_heading_yaw_bias", double_t, 0, "Auto heading yaw bias", 0.02, 0.0, 1.0)

gen.add("converge_inside_rate", double_t, 0, "Convergence inside rate", 0.80, 0.0, 1.0)
gen.add("converge_enter_rate", double_t, 0, "Convergence enter rate", 0.10, 0.0, 1.0)
gen.add("converge_cover_rate", double_t, 0, "Convergence cover rate", 0.80, 0.0, 1.0)
gen.add("converge_hold_time", double_t, 0, "Convergence hold time", 3.0, 0.0, 60.0)

gen.add("publish_markers", bool_t, 0, "Publish shape markers", True)
gen.add("debug_log", bool_t, 0, "Enable debug logs", True)
gen.add("debug_log_hz", double_t, 0, "Debug log frequency", 0.5, 0.1, 20.0)
gen.add("debug_log_components", bool_t, 0, "Debug log vector components", True)
gen.add("debug_log_metric", bool_t, 0, "Debug log swarm metrics", True)

exit(gen.generate(PACKAGE, "sim_env", "ShapeAssemblySwarm"))
