<launch>
  <arg name="agent_number" default="4" />
  <arg name="robot_ids" default="USE_YAML_SENTINEL" />
  <arg name="gather_config" default="$(find fm2_gather)/config/gather_param.yaml" />
  <arg name="enable_map_combine" default="false" />
  <arg name="shape_type" default="rectangle" />
  <arg name="shape_heading" default="0.0" />
  <arg name="shape_scale" default="1.0" />
  <arg name="shape_source" default="mat" />
  <arg name="shape_library_root" default="$(find sim_env)/shape_images" />
  <arg name="shape_mat_path" default="" />
  <arg name="shape_resolution" default="80" />
  <arg name="ring_inner_ratio" default="0.25" />
  <arg name="ring_outer_ratio" default="0.4" />
  <arg name="gray_width" default="4" />
  <arg name="r_avoid" default="0.60" />
  <arg name="shape_black_threshold" default="1.0e-6" />
  <arg name="publish_target_markers" default="true" />
  <arg name="target_marker_topic" default="/shape_assembly/target_markers" />
  <arg name="staging_radius" default="0.0" />
  <arg name="auto_shape_heading" default="true" />
  <arg name="auto_shape_heading_map_topic" default="/map" />
  <arg name="auto_shape_heading_angle_step_deg" default="15.0" />
  <arg name="auto_shape_heading_obstacle_threshold" default="80" />
  <arg name="auto_shape_heading_unknown_is_obstacle" default="true" />
  <arg name="auto_shape_heading_shape_stride" default="2" />
  <arg name="auto_shape_heading_min_improve" default="0.01" />
  <arg name="auto_shape_heading_yaw_bias" default="0.02" />
  <arg name="auto_shape_heading_oob_is_obstacle" default="true" />
  <arg name="task_topic" default="/shape_assembly/task" />
  <arg name="gather_center_topic" default="/gather_center" />
  <arg name="publish_center_goal_only" default="true" />
  <arg name="publish_goal" default="true" />
  <arg name="mission" default="fastest" />
  <arg name="robot_namespace_prefix" default="robot" />
  <arg name="robot_detect_topic_suffix" default="USE_YAML_SENTINEL" />
  <arg name="robot_odom_topic_suffix" default="USE_YAML_SENTINEL" />
  <arg name="external_center_goal_topic" default="/shape_assembly/center_goal_cmd" />
  <arg name="external_center_sync_wait" default="0.5" />
  <arg name="replan_mode" default="event" />
  <arg name="periodic_interval" default="5.0" />
  <arg name="cooldown" default="0.5" />
  <arg name="per_robot_cooldown" default="0.5" />
  <arg name="max_len_growth_ratio" default="1.4" />
  <arg name="long_path_replan_min_length" default="3.0" />
  <arg name="replan_growth_metric" default="gather_cost" />
  <arg name="gather_cost_source" default="arrival_time" />
  <arg name="estimated_gather_cost_topic" default="/fm2_gather/estimated_gather_cost" />
  <arg name="arrival_time_topic_suffix" default="move_base/GraphPlanner/arrival_time" />
  <arg name="gather_cost_growth_ratio" default="1.2" />
  <arg name="min_gather_cost_growth_trigger" default="0.0" />
  <arg name="enable_empty_plan_replan" default="true" />
  <arg name="empty_plan_replan_count" default="3" />
  <arg name="format_radius" default="0.3" />
  <arg name="enable_stable_len_replan" default="false" />
  <arg name="use_goal_occupied_peer_fallback" default="true" />
  <arg name="goal_occupied_radius" default="0.35" />
  <arg name="loop_hz" default="10.0" />

  <rosparam if="$(eval arg('robot_ids') != 'USE_YAML_SENTINEL')" param="robot_ids" subst_value="true">$(arg robot_ids)</rosparam>

  <!-- Publish shape reconstruction params globally so robots can auto-sync from host. -->
  <rosparam param="shape_source" subst_value="true">$(arg shape_source)</rosparam>
  <rosparam param="shape_library_root" subst_value="true">$(arg shape_library_root)</rosparam>
  <rosparam param="shape_resolution" subst_value="true">$(arg shape_resolution)</rosparam>
  <rosparam param="ring_inner_ratio" subst_value="true">$(arg ring_inner_ratio)</rosparam>
  <rosparam param="ring_outer_ratio" subst_value="true">$(arg ring_outer_ratio)</rosparam>
  <rosparam param="gray_width" subst_value="true">$(arg gray_width)</rosparam>
  <rosparam param="r_avoid" subst_value="true">$(arg r_avoid)</rosparam>

  <include file="$(find fm2_gather)/launch/laun.launch">
    <arg name="config_file" value="$(arg gather_config)" />
    <arg name="num_robots" value="$(arg agent_number)" />
    <arg name="robot_ids" value="$(arg robot_ids)" />
    <arg name="publish_center_goal_only" value="$(arg publish_center_goal_only)" />
    <arg name="publish_goal" value="$(arg publish_goal)" />
    <arg name="mission" value="$(arg mission)" />
    <arg name="gather_center_topic" value="$(arg gather_center_topic)" />
    <arg name="external_center_goal_topic" value="$(arg external_center_goal_topic)" />
    <arg name="external_center_sync_wait" value="$(arg external_center_sync_wait)" />
    <arg name="auto_detect_robots" value="false" />
    <arg name="robot_namespace_prefix" value="$(arg robot_namespace_prefix)" />
    <arg name="robot_detect_topic_suffix" value="$(arg robot_detect_topic_suffix)" />
    <arg name="robot_odom_topic_suffix" value="$(arg robot_odom_topic_suffix)" />
    <arg name="enable_map_combine" value="$(arg enable_map_combine)" />
    <arg name="replan_mode" value="$(arg replan_mode)" />
    <arg name="periodic_interval" value="$(arg periodic_interval)" />
    <arg name="cooldown" value="$(arg cooldown)" />
    <arg name="per_robot_cooldown" value="$(arg per_robot_cooldown)" />
    <arg name="max_len_growth_ratio" value="$(arg max_len_growth_ratio)" />
    <arg name="long_path_replan_min_length" value="$(arg long_path_replan_min_length)" />
    <arg name="replan_growth_metric" value="$(arg replan_growth_metric)" />
    <arg name="gather_cost_source" value="$(arg gather_cost_source)" />
    <arg name="estimated_gather_cost_topic" value="$(arg estimated_gather_cost_topic)" />
    <arg name="arrival_time_topic_suffix" value="$(arg arrival_time_topic_suffix)" />
    <arg name="gather_cost_growth_ratio" value="$(arg gather_cost_growth_ratio)" />
    <arg name="min_gather_cost_growth_trigger" value="$(arg min_gather_cost_growth_trigger)" />
    <arg name="enable_empty_plan_replan" value="$(arg enable_empty_plan_replan)" />
    <arg name="empty_plan_replan_count" value="$(arg empty_plan_replan_count)" />
    <arg name="format_radius" value="$(arg format_radius)" />
    <arg name="enable_stable_len_replan" value="$(arg enable_stable_len_replan)" />
    <arg name="use_goal_occupied_peer_fallback" value="$(arg use_goal_occupied_peer_fallback)" />
    <arg name="goal_occupied_radius" value="$(arg goal_occupied_radius)" />
    <arg name="loop_hz" value="$(arg loop_hz)" />
  </include>

  <node pkg="formation_host" type="shape_task_supervisor.py" name="shape_task_supervisor" output="screen">
    <param name="agent_count" value="$(arg agent_number)" />
    <param name="task_topic" value="$(arg task_topic)" />
    <param name="gather_center_topic" value="$(arg gather_center_topic)" />
    <param name="shape_type" value="$(arg shape_type)" />
    <param name="shape_heading" value="$(arg shape_heading)" />
    <param name="shape_scale" value="$(arg shape_scale)" />
    <param name="shape_source" value="$(arg shape_source)" />
    <param name="shape_library_root" value="$(arg shape_library_root)" />
    <param name="shape_mat_path" value="$(arg shape_mat_path)" />
    <param name="shape_resolution" value="$(arg shape_resolution)" />
    <param name="ring_inner_ratio" value="$(arg ring_inner_ratio)" />
    <param name="ring_outer_ratio" value="$(arg ring_outer_ratio)" />
    <param name="gray_width" value="$(arg gray_width)" />
    <param name="r_avoid" value="$(arg r_avoid)" />
    <param name="shape_black_threshold" value="$(arg shape_black_threshold)" />
    <param name="publish_target_markers" value="$(arg publish_target_markers)" />
    <param name="target_marker_topic" value="$(arg target_marker_topic)" />
    <param name="staging_radius" value="$(arg staging_radius)" />
    <param name="auto_shape_heading" value="$(arg auto_shape_heading)" />
    <param name="auto_shape_heading_map_topic" value="$(arg auto_shape_heading_map_topic)" />
    <param name="auto_shape_heading_angle_step_deg" value="$(arg auto_shape_heading_angle_step_deg)" />
    <param name="auto_shape_heading_obstacle_threshold" value="$(arg auto_shape_heading_obstacle_threshold)" />
    <param name="auto_shape_heading_unknown_is_obstacle" value="$(arg auto_shape_heading_unknown_is_obstacle)" />
    <param name="auto_shape_heading_shape_stride" value="$(arg auto_shape_heading_shape_stride)" />
    <param name="auto_shape_heading_min_improve" value="$(arg auto_shape_heading_min_improve)" />
    <param name="auto_shape_heading_yaw_bias" value="$(arg auto_shape_heading_yaw_bias)" />
    <param name="auto_shape_heading_oob_is_obstacle" value="$(arg auto_shape_heading_oob_is_obstacle)" />
    <rosparam if="$(eval arg('robot_ids') != 'USE_YAML_SENTINEL')" param="robot_ids" subst_value="true">$(arg robot_ids)</rosparam>
  </node>
</launch>
